*, body, html {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  text-transform: capitalize;
  line-height: 0;
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 100;
  src: local(Roboto Light);
}

/* Start Link */
a {
  text-decoration: none;
  color: var(--font-color2);
  font-size: 17px;
}

a:hover {
  color: var(--font-color4);
}

ul {
  padding-left: 0;
}

.link {
  padding: 10px;
}

.more {
  text-align: center;
}

/* End Link */
/* Start Text */
p, h1, h2, h3, h4, h5, h6, a, button, .button-1, .button-2 {
  text-transform: capitalize;
}

p {
  font-size: 16px;
  line-height: 28px;
  margin-top: 18px;
  letter-spacing: 1px;
  color: var(--color1);
  text-align: center;
}

h1 {
  color: var(--font-color6);
  font-weight: 900;
  font-size: 2.5rem !important;
  /* margin-bottom: 15px; */
}

h6 {
  margin-bottom: 0;
}

/* End Text */
.pl-20 {
  padding-left: 20px !important;
}

.small-icon {
  width: 20px;
  margin-right: 10px;
}

.icon-gray {
  color: var(--color5);
}

.hover-gray {
  padding: 5px;
}

.hover-gray:hover {
  cursor: pointer;
  background-color: #e7e3e3;
}

button, select {
  outline: none !important;
}

li {
  list-style: none;
}

a, button {
  -webkit-transition: .6s;
  transition: .6s;
}

main {
  margin: 5% 0;
}

main .item {
  background-color: var(--bg-color2);
  border: 3px solid var(--border-color2);
  padding: 1rem;
  border-radius: 25px;
}

main .item.item-small {
  width: 60%;
  position: relative;
  left: 21%;
}

main .item section {
  border: 2px solid var(--border-color2);
  padding: 0;
  border-radius: 25px;
  background-color: var(--bg-color3);
  margin: 1rem;
  width: 97%;
}

main .item section img {
  width: 100%;
  height: 100%;
}

main .item section .text-main {
  padding: 1rem;
  height: 100%;
}

main .item section .text-main p {
  line-height: 22px;
}

.social-links {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-bottom: 0;
}

.social-links li {
  margin-right: 1.5rem;
  width: 30px;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

.social-links li a {
  font-size: 28px !important;
}

.social-links li a:hover {
  font-size: 40px !important;
}

header {
  width: 100%;
  background-color: var(--bg-color2);
}

header nav {
  min-height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav .menu-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header nav .menu-nav ul a {
  padding: 15px;
}

:root {
  --color1: #37352F;
  --color2: #E0E0DF;
  --color3: #62605B;
  --color4: #F7FCFE;
  --color5: #AFAEAC;
  --color6: #C3C2C0;
  --color7: #878682;
  --bg-color1: #2EAADC;
  --bg-color2: #F7F6F5;
  --bg-color3: #FFF6E6;
  --bg-color4: #FFE8E7;
  --bg-color5: #E8F4E6;
  --bg-color6: #FAFAFA;
  --border-color: rgba(55, 53, 47, 0.09);
}

.button-1 {
  padding: 8px 10px;
  font-size: 16px;
  border-radius: 17px;
  color: var(--font-color2);
  background-color: var(--bg-color2);
  border: 2px solid var(--border-color1);
  -webkit-box-shadow: var(--box-shadow1);
          box-shadow: var(--box-shadow1);
}

.button-1.button-1:hover {
  background-color: var(--bg-color1);
  -webkit-box-shadow: var(--box-shadow2);
          box-shadow: var(--box-shadow2);
  color: var(--font-color2);
  border: 2px solid var(--border-color3);
}

.button-2 {
  padding: 8px 10px;
  font-size: 16px;
  border-radius: 17px;
  background-color: var(--bg-color1);
  -webkit-box-shadow: var(--box-shadow3);
          box-shadow: var(--box-shadow3);
  color: var(--font-color2);
  border: 2px solid var(--border-color2);
}

.button-2.button-2:hover {
  color: var(--font-color2);
  background-color: var(--bg-color2);
  border: 2px solid var(--border-color1);
  -webkit-box-shadow: var(--box-shadow1);
          box-shadow: var(--box-shadow1);
}

/*
bootstrap 5 responsive screen sizes:

* They include x-small which is between 0 and 576px.

* Small, which has the sm class infix is 576px or larger. // Screens (Smaller Smartphones)

* Medium, which has the md class infix is 768px or larger. // Screens (Tablets And Larger Smartphones)

* Large, which has the lg class infix is 992px or larger.

* Extra-large, which is infixed by xl , is 1200px or larger. // Screens (Laptops)

* Extra extra large, which is infixed by xxl , is 1400px or larger. // Screens (Larger Desktops And Monitors)
*/
header {
  border-bottom: 3px solid var(--border-color);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  margin: 0 5px;
}

header nav .nav-left .title-page {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-left: 40px;
}

header nav .nav-left .title-page i {
  margin-right: 15px;
  font-size: 20px;
  color: var(--color1);
}

header nav .nav-left .title-page h5 {
  margin-bottom: 0;
  font-size: 18px;
  color: var(--color3);
}

header nav .nav-right i {
  font-size: 22px;
  margin-left: 17px;
}

header nav img {
  width: 22px;
  margin: 0 10px;
}

.description {
  margin-top: 80px;
}

.description .description-items .top {
  width: 30%;
}

.description .description-items .top h6 {
  color: var(--color6);
}

.description .description-items .down {
  margin-top: 5px;
}

.description .description-items .down .title {
  height: 60px;
  margin: 5px 0;
}

.description .description-items .down .title i {
  font-size: 55px;
  margin-right: 11px;
}

.description .description-items .down .title h1 {
  margin: 0.10em 0;
}

.description .description-items .down p {
  text-align: left;
  margin: 0;
}

.description .description-items .down p span {
  color: #EB5757;
  background: rgba(135, 131, 120, 0.15);
  padding: 3px;
  font-size: 14px;
}

.description .description-items .add, .description .description-items .hide, .description .description-items .title {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.description .description-items .add, .description .description-items .hide {
  padding: 10px 9px 6px 8px;
}

.description .description-items .add i, .description .description-items .hide i {
  margin-right: 7px;
  font-size: 20px;
}

.description .description-items .add h6, .description .description-items .hide h6 {
  font-size: 18px;
}

.table {
  margin-top: 2%;
}

.table .table-items {
  width: 100%;
}

.table .table-items .top {
  padding: 0;
}

.table .table-items .top .right {
  width: 61.5%;
}

.table .table-items .top .right ul {
  margin-bottom: 0;
}

.table .table-items .top .right ul li {
  margin-right: 20px;
}

.table .table-items .top .right ul li span {
  color: var(--color3);
}

.table .table-items .top .right ul li:nth-of-type(2) {
  width: 9em;
}

.table .table-items .top .right .search {
  margin-right: 20px;
}

.table .table-items .top .right button {
  background: var(--bg-color1);
  width: 14%;
  height: 30px;
  margin-left: 20px;
}

.table .table-items .top .right button .title, .table .table-items .top .right button .icon {
  height: 100%;
  padding: 5px;
}

.table .table-items .top .right button .title:hover, .table .table-items .top .right button .icon:hover {
  color: var(--color2);
  background: #109cd5;
  border-radius: 0.3rem;
}

.table .table-items .top .right button .icon {
  padding-top: 8px;
}

.table .table-items .top .right button .title {
  width: 103%;
}

.table .table-items .top .right button h6 {
  font-weight: bold;
  font-size: 17px;
}

.table .table-items .top .right button span {
  width: 0.5px;
  background: #8b8989;
  height: 23px;
}

.table .table-items .top .right button i {
  margin-right: 0;
}

.table .table-items .top .right button h6, .table .table-items .top .right button i {
  color: var(--color2);
}

.table .table-items .down {
  margin-left: -6px;
}

.table .table-items .down .list-columns {
  width: 105%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.table .table-items .down .list-columns ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.table .table-items .down .list-columns .item {
  margin-right: -75px;
  width: 28.5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.table .table-items .down .list-columns .item:nth-of-type(1) .title {
  background: #ffe2dd;
}

.table .table-items .down .list-columns .item:nth-of-type(2) .title {
  background: #f4e7ca;
}

.table .table-items .down .list-columns .item:nth-of-type(3) .title {
  background: #dbeddb;
}

.table .table-items .down .list-columns .item .title {
  color: var(--color8);
  font-size: 18px;
  margin-right: 13px;
  margin-left: 5px;
  padding: 1px 6px;
}

.table .table-items .down .list-columns .item .title:hover {
  background-color: #e9e1e1;
}

.table .table-items .down .list-columns .item .item-menu {
  width: 30px;
  height: 28px;
  padding: 6px;
  background-color: var(--color4);
  -webkit-box-shadow: 0 0 5px 3px #cdc3c3;
          box-shadow: 0 0 5px 3px #cdc3c3;
  display: none;
}

.table .table-items .down .list-columns .hidden-columns {
  width: 17%;
}

.table .table-items .down .list-columns .hidden-columns p {
  color: var(--color5);
}

.table .table-items .down .content {
  width: 125.5%;
}

.table .table-items .down .content .column-items {
  width: 29.5%;
  margin-right: 20px;
  -webkit-transition: all .7s;
  transition: all .7s;
}

.table .table-items .down .content .column-items .item {
  border: 1px solid #ccc;
  -webkit-box-shadow: 1px 1px 10px 0 #c7c6c6;
          box-shadow: 1px 1px 10px 0 #c7c6c6;
  margin-bottom: 5px;
  width: 100%;
  padding: 0;
}

.table .table-items .down .content .column-items .item .content-item {
  padding: 15px;
  height: 175px;
}

.table .table-items .down .content .column-items .item .content-item .item-menu {
  width: 30px;
  height: 28px;
  padding: 6px;
  background-color: var(--color4);
  -webkit-box-shadow: 0 0 5px 3px #cdc3c3;
          box-shadow: 0 0 5px 3px #cdc3c3;
  display: none;
}

.table .table-items .down .content .column-items .item:hover .item-menu {
  display: block;
}

.table .table-items .down .content .column-items .item .title {
  border-top: 1px solid #ccc;
  padding: 0 15px;
  height: 45px;
}

.table .table-items .down .content .column-items .item .title h6 {
  color: var(--color3);
  font-weight: bold;
  margin-top: 5px;
}

.table .table-items .down .content .column-items .item .item-img img {
  width: 100%;
  height: 100%;
}

.table .table-items .down .content .column-items .item .item-text p {
  font-size: 15px;
  margin: 5px 0;
  color: var(--color7);
  text-align: left;
  letter-spacing: 0;
  line-height: 17px;
}

.table .table-items .down .content .column-items .item .item-text h6 {
  color: var(--color7);
  margin-bottom: 13px;
}

.table .table-items .down .content .column-items .item .item-text h6:nth-of-type(2) {
  margin-top: 13px;
}

.table .table-items .down .content .column-items .item .item-form form label {
  color: var(--color7);
  margin: 5px 0 8px 0;
}

.table .table-items .down .content .column-items .item .item-form form label .my-input[type="checkbox"] {
  cursor: pointer;
}

.table .table-items .down .content .column-items .item .item-form form label .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

.table .table-items .down .content .column-items .item .item-form form label .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.table .table-items .down .content .column-items .new {
  margin: 6px 3px;
  padding: 5px 10px;
}

.table .table-items .down .content .column-items .mail-item {
  width: 85%;
  margin: 6px 3px;
  padding: 3px 10px;
  margin-left: 62px;
}

.table .table-items .down .content .column-items .mail-item .mail {
  width: 55%;
  height: 35px;
}

.table .table-items .down .content .column-items .mail-item .mail h5 {
  margin: 0 15px 0 5px;
}

.table .table-items .down .content .column-items .mail-item .mail a, .table .table-items .down .content .column-items .mail-item .mail h5 {
  color: var(--color1);
}

.table .table-items .down .content .column-items .mail-item .mail a:nth-of-type(2) {
  color: var(--color5);
}

.table .table-items h5 {
  margin-bottom: 0;
  font-weight: 100;
  font-size: 1.1rem;
}

.table .table-items h5, .table .table-items li, .table .table-items a, .table .table-items h6 {
  color: var(--color5);
}

.help {
  margin: 6px 3px;
  border: 1px solid #ccc;
  -webkit-box-shadow: 1px 1px 10px 0 #c7c6c6;
  box-shadow: 1px 1px 10px 0 #c7c6c6;
  width: 45px;
  height: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 25px;
  position: fixed;
  right: 15px;
  bottom: 5%;
}

.help:hover {
  background-color: #e7e3e3;
}

.help a {
  font-size: 23px;
}

#check {
  display: none;
}

#check:checked ~ .sidebar {
  left: 0;
}

#check:checked ~ label #btn {
  left: 250px;
  opacity: 0;
  pointer-events: none;
}

#check:checked ~ label #cancel {
  left: 275px;
}

#check:checked ~ .right-content {
  margin-left: 438px;
}

#check:checked ~ .right-content header .nav-left {
  margin-left: 283px;
}

#check:checked ~ .right-content .description .top {
  width: 35%;
}

#check:checked ~ .right-content .table .content {
  width: 160.5%;
}

#check:checked ~ .down .list-columns {
  width: 135% !important;
}

label {
  display: inline;
}

label #btn, label #cancel {
  position: fixed;
  top: 13px;
  cursor: pointer;
  border-radius: 20%;
}

label #btn {
  position: fixed;
  left: 6px;
  z-index: 1;
  /* font-size: 24px; */
  padding: 6px 12px;
  -webkit-transition: all .5s;
  transition: all .5s;
}

label #cancel {
  z-index: 1111;
  left: -195px;
  font-size: 22px;
  color: #6c757d;
  padding: 4px 9px;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.menu i {
  font-size: 23px;
  color: var(--color3);
}

.sidebar {
  position: fixed;
  z-index: 34;
  top: 0;
  left: -327px;
  width: 327px;
  height: 100%;
  background-color: #f0f1f1;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.sidebar h6, .sidebar h5, .sidebar i {
  margin-right: 13px;
}

.sidebar li {
  padding: 0;
  height: 35px;
  padding-top: 10px;
}

.sidebar li a {
  color: var(--color7);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 3px;
}

.sidebar li a span {
  font-size: 19px;
}

.sidebar .nav-side {
  height: 32%;
}

.sidebar .nav-side .profile {
  height: 30%;
}

.sidebar .nav-side .profile .icon h5 {
  padding: 2px 6px;
  background-color: #bfbbbb;
  color: var(--color4);
  font-size: 15px;
  border-radius: 5px;
  margin-bottom: 0;
}

.sidebar .nav-side .profile .name h6 {
  font-weight: bold;
}

.sidebar .nav-side .profile .name h6 span {
  font-size: 18px;
}

.sidebar .nav-side .profile .icon-chevron {
  font-size: 13px;
  font-weight: bold;
  color: var(--color5);
}

.sidebar .nav-side .profile .icon-chevron i {
  height: 9px;
}

.sidebar .content-side .favorites .head {
  padding-left: 15px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.sidebar .content-side .favorites .head h5 {
  font-size: 14px;
  color: var(--color5);
  font-weight: 500;
  margin-bottom: 0;
}

.sidebar .content-side .favorites .head h5:hover {
  color: var(--color7);
}

.sidebar .content-side .favorites ul i {
  font-size: 20px;
  color: var(--color5);
}

.sidebar .content-side .favorites ul span {
  font-size: 17px;
}

.footer {
  background-color: var(--bg-color2);
}

.footer .first-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 3rem 5rem 0 4.5rem;
}

.footer .first-row ul {
  font-size: 15px !important;
  font-weight: 500;
  padding-left: 0;
  margin: 0;
}

.footer .first-row .item {
  text-align: left;
  margin: 1rem 0;
}

.footer .first-row .item h5 {
  color: var(--bs-blue);
}

.footer .first-row .item .contact li {
  margin-bottom: 0.5rem;
  color: var(--font-color2);
}

.footer .first-row .item .contact li span {
  margin-left: 7px;
}

.footer .first-row .item .link-pages li {
  margin-bottom: 0.5rem;
}

.footer .first-row .item .link-pages li a:hover {
  margin-top: 1%;
  text-decoration: underline;
}

.footer .copyright {
  padding-bottom: 2.4rem;
  text-align: center;
  height: 22px;
}

.footer .copyright p {
  color: var(--font-color2);
  font-family: inherit;
}
/*# sourceMappingURL=style.css.map */