:root
{   
    // Colors
    --color1: #37352F;
    --color2: #E0E0DF;
    --color3: #62605B;
    --color4: #F7FCFE;
    --color5: #AFAEAC;
    --color6: #C3C2C0;
    --color7: #878682;
    --bg-color1: #2EAADC;
    --bg-color2: #F7F6F5;
    --bg-color3: #FFF6E6;
    --bg-color4: #FFE8E7;
    --bg-color5: #E8F4E6;
    --bg-color6: #FAFAFA;
    --border-color: rgba(55, 53, 47, 0.09);
}